<!DOCTYPE>
<html>

<head>
</head>

<body>
	<audio id = "player" controls></audio>
	<script>
		const player = document.getElementById('player');

		const handleSuccess = function(stream) {
			const context = new AudioContext();
			const source = context.createMediaStreamSource(stream);
			const processor = context.createScriptProcessor(1024, 1, 1);

			source.connect(processor);
			processor.connect(context.destination);

			processor.onaudioprocess = function(e) {
				console.log(e.inputBuffer);
			}
			// if (window.URL) {
			// 	player.srcObject = stream;
			// }
			// else {
			// 	player.src = stream;
			// }
		};

		navigator.mediaDevices.getUserMedia({audio: true, video: false}).then(handleSuccess);
	</script>
</body>

</html>