<!DOCTYPE>
<html>

<head>
	<script src="/index.js"></script>
</head>

<body>
	<button id="streamButton" onclick="doStream()">Record</button>
        <p id="status">Not Started</p>
        <table id="messages"></table>
	<!-- <audio id = "player" controls></audio>
	<script>
		const player = document.getElementById('player');

		const handleSuccess = function(stream) {
			const context = new AudioContext();
			const source = context.createMediaStreamSource(stream);
			const processor = context.createScriptProcessor(1024, 1, 1);

			source.connect(processor);
			processor.connect(context.destination);

			processor.onaudioprocess = function(e) {
				console.log(e.inputBuffer);
			}
		};

		navigator.mediaDevices.getUserMedia({audio: true, video: false}).then(handleSuccess);
	</script> -->
</body>

</html>