<!DOCTYPE>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="/main.css">
</head>

<body>
	<div id="intro">
		<input type="text" id="name-input" placeholder="Enter rapper name...">
		<input type="text" id="room-input" placeholder="Enter room name...">
		<button id="room-input-button">Enter</button>
	</div>
	<div id="game" style="display: none;">
		<h1 id="title"></h1>
		<button id="streamButton" onclick="doStream()">Record</button>
	        <p id="status">Not Started</p>
	        <table id="messages"></table>
		<div>
			<p>Score: </p>
			<p id="score">0</p>
		</div>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/index.js"></script>
	</div>
</body>

</html>